$Light-Green: #7ed56f;
$Medium-Green: #55c57a;
$Dark-Green: #28b485;
$Grey: #777;
$White: #fff;

$Orange-light: #ffb900;
$Orange-dark: #ff7730;
$Blue-light: #2998ff;
$Blue-dark: #5643fa;

$Grey-light: #f7f7f7;

$default-font-size: 1.6rem;

$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;