@import "../scss/main.scss";

.header {
  height: 95vh;
  background-image: linear-gradient(
      to right,
      rgba($Light-Green, 0.8),
      rgba($Dark-Green, 0.8)
    ),
    url(../assets/hero.jpg);
  background-size: cover;
  background-position: top;

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0 100%);

  @include respond(phone) {
    clip-path: polygon(0 0, 100% 0, 100% 90%, 0 100%);
  }

  & > &__logo-box {
    position: absolute;

    top: 4rem;
    left: 4rem;

    .logo {
      height: 3.5rem;
    }
  }

  & > &__text-box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;

    .heading-primary {
      color: $White;
      text-transform: uppercase;
      backface-visibility: hidden;
      margin-bottom: 6rem;

      &--main {
        display: block;
        font-size: 6rem;
        font-weight: 400;
        letter-spacing: 3.5rem;
        font-weight: 400;
        animation: moveInLeft 1s ease-out;
        @include respond(phone) {
          letter-spacing: 1rem;
          font-size: 5rem;
        }
      }

      &--sub {
        display: block;
        font-size: 2rem;
        font-weight: 700;
        letter-spacing: 1.74rem;
        animation: moveInRight 1s ease-out;
        @include respond(phone) {
          letter-spacing: 0.5rem;
        }
      }
    }

    .btn--animated {
      animation: moveInBottom 1s ease-out 0.75s backwards;
    }
  }
}

.heading-secondary {
  display: inline-block;
  font-size: 3.5rem;
  margin-bottom: 4rem;
  text-transform: uppercase;
  font-weight: 700;
  background-image: linear-gradient(to right, $Light-Green, $Dark-Green);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;

  @include respond(tab-port) {
    font-size: 3rem;
  }
  @include respond(phone) {
    font-size: 2.5rem;
  }
}

.heading-tertiary {
  font-size: $default-font-size;
  font-weight: 700;
  text-transform: uppercase;
}

.btn-text {
  &:link,
  &:visited {
    color: $Light-Green;
    display: inline-block;
    text-decoration: none;
    border-bottom: 1px solid $Light-Green;
    padding: 3px;
    transition: all 500ms;
  }

  &:hover {
    background-color: $Medium-Green;
    color: white;
  }

  &:active {
    transform: translateY(1px);
  }
}
main {
  .section-about {
    background-color: $Grey-light;
    padding: 25rem 50px;
    margin-top: -20vh;

    .row {
      .paragraph {
        font-size: $default-font-size;
        &:not(:last-child) {
          margin-bottom: 3rem;
        }
      }
    }
  }

  .section-features {
    padding: 20rem 0;
    background-image: linear-gradient(
        to right,
        rgba($Light-Green, 0.8),
        rgba($Dark-Green, 0.8)
      ),
      url(../assets/nat-4.jpg);
    background-size: cover;
    background-position: top;

    transform: translateY(-10rem) skewY(-7deg);

    & > * {
      transform: skewY(7deg);
    }

    .feature-box {
      background-color: rgba(white, 0.8);
      font-size: 1.5rem;
      padding: 2.5rem;
      text-align: center;
      border-radius: 3px;
      box-shadow: 0 1.5rem 4rem rgba(black, 0.15);
      transition: all 300ms;

      &__icon {
        font-size: 6rem;
        margin-bottom: 0.5rem;

        background-image: linear-gradient(to right, $Light-Green, $Dark-Green);
        color: transparent;
        -webkit-background-clip: text;
        background-clip: text;
      }

      &:hover {
        transform: translateY(-1.5rem) scale(1.03);
      }
    }
  }

  .section-tours {
    background-color: $Grey-light;
    padding: 25rem 0 15rem 0;
    margin-top: -20rem;
  }

  .section-stories {
    padding: 15rem 0;
    position: relative;
  }

  .section-book {
    padding: 15rem 0;
    background-image: linear-gradient(
      to right bottom,
      $Light-Green,
      $Dark-Green
    );
  }

  .book {
    background-image: linear-gradient(
        105deg,
        rgba(white, 0.9) 0%,
        rgba(white, 0.9) 50%,
        transparent 50%
      ),
      url("./../assets/nat-10.jpg");
    background-size: 100%;
    height: 50rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba($color: black, $alpha: 0.2);

    &__form {
      width: 50%;
      padding: 6rem;
    }
  }
}
