<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle" />
  <label for="navi-toggle" class="navigation__button">
    <span class="navigation__icon">&nbsp;</span>
  </label>
  <div class="navigation__background">&NonBreakingSpace;</div>

  <nav class="navigation__nav">
    <ul class="navigation__list">
      <li class="navigation__item">
        <a href="#" class="navigation__link"><span>01</span>About Natours</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"><span>02</span>Your benfits</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"><span>03</span>Popular tours</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"><span>04</span>Stories</a>
      </li>
      <li class="navigation__item">
        <a href="#" class="navigation__link"><span>05</span>Book now</a>
      </li>
    </ul>
  </nav>
</div>

<header class="header">
  <div class="header__logo-box">
    <img src="../assets/logo-white.png" class="logo" />
  </div>
  <div class="header__text-box">
    <h1 class="heading-primary">
      <span class="heading-primary--main">Outdoors</span>
      <span class="heading-primary--sub">is where life happens</span>
    </h1>
    <a href="#" class="btn btn--white btn--animated">Discover on tours</a>
  </div>
</header>

<main>
  <section class="section-about">
    <div class="u-center-text">
      <h2 class="heading-secondary">Exciting tours for adventurous people</h2>
    </div>

    <div class="row">
      <div class="col-1-of-2">
        <h3 class="heading-tertiary u-margin-bottom-small">
          You're going to fall in love with nature
        </h3>
        <p class="paragraph">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi quisquam
          voluptatem cumque sequi officiis doloremque, rem, velit non facere
          mollitia, debitis est quasi ab consequatur ea voluptas excepturi quia
          hic.
        </p>
        <h3 class="heading-tertiary u-margin-bottom-small">
          Live adventures likes you nerver have before
        </h3>
        <p class="paragraph">
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nam harum
          perspiciatis inventore est nemo. Quaerat molestiae placeat laudantium
          tenetur.
        </p>

        <a href="" class="btn-text">Learn more &rarr;</a>
      </div>

      <div class="col-1-of-2">
        <div class="composition">
          <img
            src="../assets/nat-1-large.jpg"
            alt=""
            class="composition__photo composition__photo--p1"
          />
          <img
            src="../assets/nat-2-large.jpg"
            alt=""
            class="composition__photo composition__photo--p2"
          />
          <img
            src="../assets/nat-3-large.jpg"
            alt=""
            class="composition__photo composition__photo--p3"
          />
        </div>
      </div>
    </div>
  </section>

  <section class="section-features">
    <div class="row">
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-world"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Explore the world
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            inventore eum at natus non magnam. Saepe harum possimus praesentium
            vitae minus dolores?
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-compass"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Explore the world
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            inventore eum at natus non magnam. Saepe harum possimus praesentium
            vitae minus dolores?
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-map"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Explore the world
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            inventore eum at natus non magnam. Saepe harum possimus praesentium
            vitae minus dolores?
          </p>
        </div>
      </div>
      <div class="col-1-of-4">
        <div class="feature-box">
          <i class="feature-box__icon icon-basic-heart"></i>
          <h3 class="heading-tertiary u-margin-bottom-small">
            Explore the world
          </h3>
          <p class="feature-box__text">
            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Illo
            inventore eum at natus non magnam. Saepe harum possimus praesentium
            vitae minus dolores?
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="section-tours" id="section-tours">
    <div class="u-center-text">
      <h2 class="heading-secondary">Most popular tours</h2>
    </div>

    <div class="row">
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture-1">&NonBreakingSpace;</div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span-1">
                The sea explorer
              </span>
            </h4>
            <div class="card__details">
              <ul>
                <li>3 day tours</li>
                <li>Up to 30 people</li>
                <li>2 tour guide</li>
                <li>Sleep in cozy hotels</li>
                <li>Difficulty: easy</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-1">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">297$</p>
              </div>
              <a href="#" class="btn btn--white btn--animated">Book now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture-2">&NonBreakingSpace;</div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span-2">
                The forest hiker
              </span>
            </h4>
            <div class="card__details">
              <ul>
                <li>7 day tours</li>
                <li>Up to 40 people</li>
                <li>6 tour guide</li>
                <li>Sleep in provided tents</li>
                <li>Difficulty: medium</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-2">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">497$</p>
              </div>
              <a href="#popup" class="btn btn--white btn--animated">Book now!</a>
            </div>
          </div>
        </div>
      </div>
      <div class="col-1-of-3">
        <div class="card">
          <div class="card__side card__side--front">
            <div class="card__picture card__picture-3">&NonBreakingSpace;</div>
            <h4 class="card__heading">
              <span class="card__heading-span card__heading-span-3">
                The snow adventurer
              </span>
            </h4>
            <div class="card__details">
              <ul>
                <li>5 day tours</li>
                <li>Up to 15 people</li>
                <li>3 tour guide</li>
                <li>Sleep in provided tents</li>
                <li>Difficulty: hard</li>
              </ul>
            </div>
          </div>
          <div class="card__side card__side--back card__side--back-3">
            <div class="card__cta">
              <div class="card__price-box">
                <p class="card__price-only">Only</p>
                <p class="card__price-value">897$</p>
              </div>
              <a href="#popup" class="btn btn--white btn--animated">Book now!</a>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="u-center-text">
      <a href="#popup" class="btn btn--green">Discover all tours</a>
    </div>
  </section>

  <section class="section-stories">
    <div class="bg-video">
      <video class="bg-video__content" autoplay muted loop>
        <source src="../assets/video.mp4" type="video/mp4" />
        <source src="../assets/video.webm" type="video/webm" />
        Your browser is not supported!
      </video>
    </div>

    <div class="u-center-text">
      <h2 class="heading-secondary">We make people genuily happy</h2>
    </div>

    <div class="row">
      <div class="story">
        <figure class="story__shape">
          <img
            src="../assets/nat-8.jpg"
            class="story__img"
            alt="Person on tour"
          />
          <figcaption class="story__caption">Mary Smith</figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-tertionary u-margin-bottom-small">
            I had the best week ever with my family
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
            corrupti est quia excepturi aperiam blanditiis, perspiciatis vel,
            possimus nihil cupiditate explicabo deleniti culpa aliquid at
            veritatis quae tenetur, eligendi voluptate. Lorem ipsum dolor sit,
            amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="story">
        <figure class="story__shape">
          <img
            src="../assets/nat-9.jpg"
            class="story__img"
            alt="Person on tour"
          />
          <figcaption class="story__caption">Jack Wilson</figcaption>
        </figure>
        <div class="story__text">
          <h3 class="heading-tertionary u-margin-bottom-small">
            My life is completely different now
          </h3>
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsam
            corrupti est quia excepturi aperiam blanditiis, perspiciatis vel,
            possimus nihil cupiditate explicabo deleniti culpa aliquid at
            veritatis quae tenetur, eligendi voluptate. Lorem ipsum dolor sit,
            amet consectetur adipisicing elit.
          </p>
        </div>
      </div>
    </div>

    <div class="u-center-text">
      <a href="#" class="btn-text">Read all stories &rarr;</a>
    </div>
  </section>

  <section class="section-book">
    <div class="row">
      <div class="book">
        <div class="book__form">
          <form action="#" class="form">
            <div>
              <h2 class="heading-secondary">Start booking now</h2>
            </div>
            <div class="form__group">
              <input
                type="text"
                class="form__input"
                placeholder="Full name"
                id="name"
                required
              />
              <label for="name" class="form__label">Full name</label>
            </div>
            <div class="form__group">
              <input
                type="text"
                class="form__input"
                placeholder="Email address"
                id="email"
                required
              />
              <label for="email" class="form__label">Email address</label>
            </div>
            <div class="form__group">
              <div class="form__radio-group">
                <input
                  type="radio"
                  class="form__radio-input"
                  id="small"
                  name="size"
                />
                <label for="small" class="form__radio-label">
                  <span class="form__radio-button"></span>
                  Small tour group</label
                >
              </div>

              <div class="form__radio-group">
                <input
                  type="radio"
                  class="form__radio-input"
                  id="large"
                  name="size"
                />
                <label for="large" class="form__radio-label">
                  <span class="form__radio-button"></span>
                  Large tour group
                </label>
              </div>
            </div>

            <div class="form__group">
              <button class="btn btn--green">Next step &rarr;</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>
</main>

<footer class="footer">
  <div class="footer__logo-box">
    <img
      src="../assets/logo-green-2x.png"
      alt="Full logo"
      class="footer__logo"
    />
  </div>
  <div class="row">
    <div class="col-1-of-2">
      <div class="footer__navigation">
        <ul class="footer__list">
          <li class="footer__item">
            <a href="#" class="footer__link">Company</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Contact us</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Carrers</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Privacy policy</a>
          </li>
          <li class="footer__item">
            <a href="#" class="footer__link">Terms</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-1-of-2">
      <p class="footer__copyright">
        Lorem ipsum dolor sit
        <a href="#" class="footer__link"> amet consectetur</a>, adipisicing
        elit. Iure enim magni blanditiis labore perspiciatis?
      </p>
    </div>
  </div>
</footer>

<div class="popup" id="popup">
  <div class="popup__content">
    <div class="popup__left">
      <img src="../assets/nat-8.jpg" class="popup__img" alt="Tour photo" />
      <img src="../assets/nat-9.jpg" class="popup__img" alt="Tour photo" />
    </div>
    <div class="popup__right">
      <a href="#section-tours" class="popup__close">&times;</a>
      <h2 class="heading-secondary">Start booking now</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">
        Important &ndash; Please read these terms before booking
      </h3>

      <p class="popup__text u-margin-bottom-medium">
        Lorem, ipsum dolor sit amet consecteturr adipisicing elit. Facilis minima
        provident dolor dicta amet animi doloribus corporis fugit maxime
        eligendi nostrum nihil perferendis ratione ipsa aspernatur iusto, in
        fuga nesciunt? Lorem ipsum dolor sit amet consectetur adipisicing elit.
        Enim omnis at amet facere minus ad sunt totam est pariatur adipisci in
        quos minima reiciendis ipsum quo, dolore error sequi fugit! Lorem ipsum
        dolor sit amet consectetur adipisicing elit. Error ea incidunt,
        voluptatum ad. Saepe iste voluptatibus debitis non commodi
        doloribus at suscipit.
      </p>
      <a href="#" class="btn btn--green">Book now</a>
    </div>
  </div>
</div>
